html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strike, strong, sub, sup, tt, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	overflow-x: hidden;
	height: 100%;
	/*background-color: #fff;*/
	-webkit-font-smoothing: antialiased;
	-webkit-touch-callout: none;
	-webkit-text-size-adjust: none;
}
a {
	text-decoration: none;
	border: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, .03);
}
li {
	list-style: none;
}


/*home_img-------------------------------------------------*/
.home_img{
	position: fixed;
	z-index: 100;
	height: 100%;
	background: #fff;
}
.home_img img{
	margin-top: 8%;
    width: 100%;

}
/*unfold---------------------------------------------------*/
#unfold {
	position: absolute;
	width: 100%;
}
#unfold a{
	position: absolute;
	top: 5px;
	left: 10px;
 	width: 20px;
 	height: 20px;
}
#unfold span{
	position: absolute;
 	background:#fbfbfb;
 	width: 20px;
 	height:2px;
 	
}
#unfold span:nth-child(1){
	margin-top: -1px;
	transition: all 300ms;
}
#unfold span:nth-child(2){
	margin-top: 5px;
	transition: all 200ms;
}
#unfold span:nth-child(3){
	margin-top: 11px;
	transition: all 300ms;
}
.line-top{
	 height:3px;
	 z-index: 101;
    -webkit-transform: rotateZ(45deg) translateX(4px) translateY(4.5px)!important;
    -moz-transform: rotateZ(45deg) translateX(4px) translateY(4.5px)!important;
    -ms-transform: rotateZ(45deg) translateX(4px) translateY(4.5px)!important;
    -o-transform: rotateZ(45deg) translateX(4px) translateY(4.5px)!important;
    transform: rotateZ(45deg) translateX(4px) translateY(4.5px)!important;
}
.line-meat{
	opacity: 0;
}
.line-bottom{
	 height:3px;
	 z-index: 101;
	-webkit-transform: rotateZ(-45deg) translateX(4px) translateY(-4.5px)!important; 
    -moz-transform: rotateZ(-45deg) translateX(4px) translateY(-4.5px)!important;
    -ms-transform: rotateZ(-45deg) translateX(4px) translateY(-4.5px)!important;
    -o-transform: rotateZ(-45deg) translateX(4px) translateY(-4.5px)!important;
    transform: rotateZ(-45deg) translateX(4px) translateY(-4.5px)!important;
}
/*head---------------------------------------------------*/
.head{
	width: 100%;
	height:45px;
	background:rgba(0, 0, 0, 0.03);
}
.head-s{
	margin: 0 auto;
	position: relative;

}
/*head-title---------------------------------------------------*/
.head-title{
	color: rgba(0, 0, 0, 0.25);
    float: left;
    width: 100%;
    text-align: center;
    line-height: 42px;
}
.login{
	float: right;
	margin-right: 5px;
}
.login img{
	width: 25px;
	height: 25px;
}

/*lean_overlay---------------------------------------------------*/
#lean_overlay{
	position: fixed;
	z-index: 100;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: #000;
	opacity: 0.6;
	display: none;
	-webkit-animation: overlaymove 300ms linear ;
	animation: overlaymove 300ms linear ;
}
@keyframes overlaymove{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 0.6;
	}
}


/*cover---------------------------------------------------*/
.cover{
	width: 100%;
	height:auto;
	overflow: hidden;
}
.slider1{
	transform:translate3d(0,0,0);	
}
.slide{
	float:right;
	background: #ccc;
	width: 100%;
	
}
/*menus_header---------------------------------------------------*/
#menus_header {
	width: 100%;	
	height: 40px;
}
.ks {
	width: 80%;
	padding-top: 0.5em;
	margin-right: 10%;
	margin-left: 10%;
}
.keywork {
	border-top-left-radius: 12px;
	height: 27px;
	width: 90%;
	text-indent: 5px;
	border-bottom-right-radius: 10px;
	border: 1px solid;
	border-color: #abbce8 #c3cae0 #b9c8ef;
	-webkit-transition: all 0.25s linear;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.4);
}
.keywork:focus{
	border-top-left-radius: 0px;
	outline:none;
	color:#525864;
	border-color:#84c0ee;
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 3px #96c7ec;
	-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 3px #96c7ec;
	box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 3px #96c7ec;
}

#seracn {
	color: #fff;
	/*display: none;*/
}
input[type=search]{
	-webkit-appearance:none;
}
input::-webkit-search-cancel-button {display: none;}
#seracn .btn {
	width: 15%;
	height: 27px;
	background:url(../images/btn.png) center no-repeat #44B78B;
	border: 0;
	text-align: center;
	position: absolute;
	right: 18%;
	border-bottom-right-radius: 10px;
	color: #fff;
}
.btn:focus{
	outline:none;
	color:#525864;
	border-color:#84c0ee;
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 3px #96c7ec;
	-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 3px #96c7ec;
	box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 3px #96c7ec;
}
#fabu {
	margin-top: 10px;
	float: right;
	border: 1px solid #795548;
	line-height: 27px;
	font-size: 13px;
	height: 26px;
	padding-left: 10px;
	color: #fff;
	background-color: #795548;
}
/*tab---------------------------------------------------*/
#tab{
	font-family: "Hiragino Sans GB","Microsoft YaHei","黑体",Helvetica,Arial,Tahoma,sans-serif;
}
#tab-hd{
	width: 100%;
	height: 40px;
	margin-bottom: 0.6125em;
	text-align: center;
	color: #5a5a5a;
}
.tab-active{
	color: #333;
}
.tab-active:after{
	content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background: #ffeb3b;
    width: 90%;
    height: 2px;

}
.tab-hd-con{
		position: relative;
	width: 50%;
	font-size:1rem;
	line-height: 40px;
	padding-bottom: 0.2em;
	float: left;
	transition: all 50ms;
}

/*widget-photos---------------------------------------------------*/
.widget-photos {
    background-color: #fff;
    padding-top: 0.125em;
}
.list{
  	overflow: hidden;
  	margin:0.7em 0 auto;
}
.list li{
	float: left;
	width: 40%;
    margin:0 0 2% 2%;
    padding:3% 3% 1% 3%;
    background: white;
    border-radius: 3px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    min-height: 105px;
}
.list img{
	width: 100%;
	vertical-align: top;
	height: auto;
}

.img-name {
	position: relative;
	text-align: left;
	top: -14px;
	background: #000;
	width: 100%;
	opacity: 0.5;
	z-index: 10;
	font-size: 0.12rem;
	color: #fff;
}

/*food---------------------------------------------------*/
.food{
	width: 100%;
	height: 40px;
	background: #000;
	opacity: 0.45;
	color: #fff;
	font-size: 0.15rem;
	text-align:center;
	padding-top: 5px;
	margin-top: 5px;
}

.bot{
	margin-top: 30px;
	width: 100%;
		font-size: 0.85rem;
	text-align: center;
}
/*gtop--------------------------------------------------*/

.gtop {
	position: fixed;
	bottom: 0;
	right: 0;
	opacity: 0;
	z-index: 200;
	background: url(../images/scroll-down.png) bottom right no-repeat;
	width: 100px;
	height: 50px;
	background-size: contain;
}
.gtop i:after{
	content: "Top";
	color: #ab96c1;
	bottom: 0;
    position: absolute;
    right: 5px;
}



@media screen and (max-width: 360px){
	.widget-photos li{
    	margin:0 0 2% 3%;
	}
}
@media screen and (min-width: 370px) and (max-width: 440px){
	.gtop {
			width: 110px;
	}
}
@media screen and (max-width: 845px) and (min-width: 740px){
	   .widget-photos li { 
	   	width: 16.285714%;
	   	min-height: 90px;
	   }
	   .main{
	   	width: 70%;
	   	margin: 0 15% 0 15%;
	   }
}