.up-head img{
	width: 100%;
}

/*Atlas_title--------------------------------------------------------*/

.Atlas_title p{
	padding-top: 10px;
	font-size: 0.5rem;
	text-align: center;
	color: rgba(0, 0, 0, 0.5);
}
/*Atlas------------------------------------------------------------*/
.Atlas{
	padding: 10px;
	height: 110px;
}
.Atlas img{
	margin:0 2% 2% 0;
}


.btn_a{
	position: absolute;
	width: 100px;
	height: 100px;
	border:1px solid #ccc;
	border-radius: 4px;
}
/*user_list--------------------------------------------*/
.user_list{
    width: 60%;
    float: right;
}
.user_list input{
	width: 120px;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    border: 1px solid rgba(83, 227, 166, 0.3);
    background-color: rgba(0, 0, 0, .02);
    margin: 0 auto 10px auto;
	padding:5px;
    border-radius: 3px;
    display: block;
    text-align: center;
    color: #53e3a6;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    font-weight: 300;
 }

.holder::-webkit-input-placeholder{
	color: #fff; 
}

.user_list input:focus { 
	width: 150px;
	background-color: #fff;
} 

.user_list select{
	display: block;
	width: 120px;
    margin: 0 auto 10px auto;
    padding: 5px;
    border-radius: 3px;
    color: #44b78b;
    border: 1px solid rgba(0, 0, 0, .02);
    background-color: rgba(83, 227, 166, .06);
}

/*upload------------------------------------------------------------*/
#upload  {
	position: absolute;
	width: 100px;
	height: 100px;
	opacity: 0;
	z-index: 10;
}
.plus:after{
	position: absolute;
	content: "";
	opacity: 1;
	width: 50%;
	height: 5px;
	top: 43%;
	right: 25%;
	border-radius: 2px;
	background: #ccc;
}
.plus:before {
	position: absolute;
	content: "";
	opacity: 1;
	width: 5px;
	height: 50%;
	top: 23%;
	right: 48%;
	border-radius: 2px;
	background: #ccc;
}

/*up_food------------------------------------------------------------*/
.up_food{
	width: 100%;
	margin-top: 100px;
}
.up_food p{
	text-align: center;
	width: 100%;
	color:rgba(0, 0, 0, 0.5);
}
.up_food hr{
	margin-left: 5%;
	width: 90%;
	color:rgba(0, 0, 0, 0.5);
}	




@media screen and (max-width: 360px){

}
@media screen and (min-width: 370px) and (max-width: 440px){

}
@media screen and (max-width: 845px) and (min-width: 740px){
	.btn_a {
    left: 26%;
 	}
 	.Atlas img {
 	margin-left: 15%;
	}
}